@import "tailwindcss";


body {
  background: radial-gradient(circle at center, #1e3a8a, #000000);
  scroll-behavior: smooth;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fade-in 1s ease-in-out;
}

.border-animation::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 300px;
  background-color: red;
  left: 50%;
  top: 50%;
  transform: translate(-50% -50%);
  z-index: -60;
}
